# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# next.js
.next/
out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
.env*

serviceAccount.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vscode/

toolproof-563fe-556dd7e1ea79.json